body{
    background-color:rgb(71, 63, 63);
    }
    nav a  {
        color:#55e911;
        
    }

    
p{
    color:#ffffff;
}
h1{
    text-align: center;
}
.notatki{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#top{
    color: white
}
footer{
    text-align: center;
}
.navigation{

    color: #55e911;
    display: block;
      margin:0 auto;
      width:100px;
}